
body {
    margin: 0;
    padding: 0;
    background-color: #c1ccce;
    font-family: "Catamaran";
    font-size: 13pt;
}

.container {
    background-color: white;
    width: 600px;
    margin: 1em auto;
    box-shadow: 0 0 25px #999;

    h1 {
        font-weight: normal;
        font-size: 1em;
        text-align: center;
        margin: 3em 0;
    }

    .homepage {
        padding: 1.75em;

        a {
            color: gray;
            text-decoration: none;
        }

        header {
            text-align: center;
            margin-bottom: 3em;
            line-height: 1.75em;

            p {
                margin: 2em 0;
            }


            .looking-for {
                font-weight: bold;
                text-decoration: underline;
                color: #2e8e2e;

                &.not {
                    color: #8e2e2e;
                }
            }
        }

        nav {
            display: table;
            margin: 0 auto;
            width: 100%;
        }

        ul {
            display: table-cell;
            width: 50%;
            margin: 0;
            padding: 0.5em 0;
            list-style: none;

            li {
                margin-bottom: 0.5em;
            }

            &.fixed-nav {
                text-align: right;
                padding-right: 0.5em;
            }

            &.blog-nav {
                border-left: 1px solid gray;
                padding-left: 0.5em;
            }
        }

        .blog-list-date {
        }
    }

    .blog-post {
        line-height: 2em;
        padding: 1.75em;

        a {
            color: black;
        }

        h1 {
            margin: 2em auto 0;
        }

        .metadata {
            margin-bottom: 3em;
            font-size: 0.85em;
            text-align: center;
        }

        .body {
            margin-bottom: 2em;
        }

        h2 {
            font-size: 1em;
        }

        .boilerplate {
            font-size: 0.85em;
            border-top: 1px solid #D4D4D4;
            margin: 1em 0 0 0;
            padding: 1em 0 0 0;

            img {
                width: 64px;
                height: 64px;
            }

            p {
                font-style: italic;
            }
        }
    }
}